# Foundry
out/
cache/
broadcast/
foundry.lock
*.json

# Environment variables
.env
*.env
*.venv/

# Hardhat
artifacts/

# Logs
*.log

# Node (in case tests/scripts install tooling later)
node_modules/

# misc
modules/
objects/

# Allow tracked submodules
lib/*

# OS
.DS_Store
.idea/
.vscode/
Thumbs.db

# misc
audits
