# Rust / Cargo
debug
target
**/*.rs.bk
*.pdb

# Cargo mutants
**/mutants.out*/

# Node / JS
node_modules
npm-debug.log
yarn-error.log
.yarn

# Hardhat / Foundry
cache
artifacts
out
broadcast
cache_forge

# JetBrains IDEs
# (optional – uncomment to ignore entire folder)
#.idea/

# Test data
test-ledger

# OS files
.DS_Store
Thumbs.db

